<!-- navbar -->
<div class="navbar pure-menu pure-menu-horizontal dark">
	{{ if . }}
	<span href="#" class="pure-menu-heading nav-right">Eingeloggt als: {{.}}</span>
	{{end}}
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/auth/call" class="pure-menu-link">Neuer Ruf</a>
        </li>
        <li class="pure-menu-item">
            <a href="/auth/active" class="pure-menu-link">Aktive Rufe</a>
        </li>
        <li class="pure-menu-item">
            <a href="/auth/add" class="pure-menu-link">Rufnummern importieren</a>
        </li>
    </ul>
</div>

