

body {
	background-color: #dfe2e4;
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.navigation {
	background-color: #3a4147;
	text-transform: uppercase;
	font-weight: bold;
}

.card {
	padding: 30px;
	margin: 30px;
	background: rgba(0, 0, 0, .08);
	background-blend-mode: darken;  filter: brightness(85%);
}

.navigation_list {
	border-bottom: solid 1px #ccc;
	padding: 20px 10px;
	text-align: center;
}
.navigation_item {
	display: inline;
	list-style: none;
	margin: 0 20px;
}

.rev-colors {
	background-color: #606c76;
	color: #dfe2e4;
}

input, select, textarea{
	color: #606c76;
}

.app-messages-error {
	color: #FF6962;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.app-message-success {
	color: #77DD76;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}


.ui-menu-item {
	list-style-type:none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #525C64;}


