{{ template "header.html" . }}

<style>
	.click-row:hover{
		background-color: #cccccc;
	}
</style>

<div class="card">
	<h2>Ihre Rufe</h2>
	<div class="row">
		<!--LEFT-->
		<div class="col-6">			
			{{range .Calls}}
			<div class="row click-row" onclick="location.href='/auth/active/{{.ID}}';" style="cursor: pointer;">
				<div class="col-12">
					{{.Title}}
				</div>			
			</div>
			{{end}}
		</div>
		<!--RIGHT-->
		<div class="col-6">
			{{template "status.html" . }}

		</div>
	</div>
</div>

{{ template "footer.html" . }}