{{ template "header.html" . }}

<div class="card">
	<h2>Import Datei</h2>
	<form action="/auth/upload" method="post" enctype="multipart/form-data">
		<label for="datei">Datei auswählen</label></br>
		<input id="datei" name="datei" type="file" size="50" accept="text/*">
		<input type="submit" class="pure-button dark" value="Hochladen">
	</form>
</div>

<div class="card">
	<h2>Import einzele Person</h2>
	<form action="/auth/add" method="post" >

		<div class="row">
			<div class="column">
				<label for="phone">Rufnummer</label>
				<input type="text" id="phone" name="phone">
			</div>
			<div class="column">
				<label for="group">Imfgruppe</label>
				<input type="number" id="group" name="group" min="1" max="10">
			</div>
		</div>
				<input type="submit" class="pure-button dark" value="Hinzufügen">
	</form>
</div>

<div class="card">
	<h2>Aktive Rufnummern</h2>
	<table class="pure-table">
		<thead>
			<tr>
				<th>Rufnummer</th>
				<th>Gruppe</th>
				<th>Center ID</th>
			</tr>
		</thead>
		<tbody>
			{{range .Persons}}
			<tr>
				<td> {{.Phone}}</td>
				<td> {{.Group}}</td>
				<td> {{.CenterID}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

{{ template "footer.html" .}}
