{{ template "header.html" }}

<div class="card">
	<h2>Import Datei</h2>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<label for="datei">Datei auswählen</label></br>
		<input id="datei" name="datei" type="file" size="50" accept="text/*">
		<input type="submit" class="pure-button dark" value="Hochladen">
	</form>
</div>

<div class="card">
	<h2>Import einzele Person</h2>
	<form action="/add" method="post" >
		<label for="phone">Rufnummer</label>
		<input type="text" id="phone" name="phone">

		<label for="group">Gruppe</label>
		<input type="number" id="group" name="group" min="1" max="10">
		<input type="submit" class="pure-button dark" value="Hinzufügen">
	</form>
</div>

<div class="card">
	<h2>Aktive Rufnummern</h2>
	<table class="pure-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Rufnummer</th>
				<th>Gruppe</th>
				<th>Letzter Ruf</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
			<tr>
				<td> {{.ID}} </td>
				<td> {{.Phone}}</td>
				<td> {{.Group}}</td>
				<td> {{.LastCall}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>

{{ template "footer.html" }}
