<style>
  .callDetail {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pure-table {
	width: 95%;
	padding-left: 5%;
  }

</style>


{{if .CallStatus.Call.ID}}

<div class="callDetail">
  
  
  
  <h2> Ruf {{.CallStatus.Call.ID}} - {{.CallStatus.Call.Title}}</h2>  
  
  <div class="row">
    <div class="column column-20">Impfstoff: PLACEHOLDER</div> <!-- TODO add Vaccine Field-->
    <div class="column column-20">{{len .CallStatus.Persons}} von {{.CallStatus.Call.Capacity}} Zusagen</div> <!-- TODO add CalledPersons Field-->
    <div class="column column-20">Datum: {{.CallStatus.Call.TimeStart.Format "13.01.2006"}}</div>   <!-- TODO Add CallDate Field Format  11.02.2021 -->
	  <div class="column column-20">Begin: {{.CallStatus.Call.TimeStart.Format "14:09"}}</div>  <!-- TODO Format Time 14:09 -->
    <div class="column column-20">Ende: {{.CallStatus.Call.TimeEnd.Format "14:09"}}</div>     <!--  TODO Format Time 14:09-->
  </div>
  <br></br>
  
  <div class="row">
    <div class="column column-70">
      <h3>Zusagen</h3>
    </div>

    <div class="column column-30">
		  <button style="width: inherit; height: inherit; line-height: 1.8em;" onClick="window.location.reload();">
        <div class = "row">
          <div class="column column-100">
            Aktualisieren
          </div>  
        </div>
        <div class = "row"> 
          <div class="refresh" style="font-size: 0.8em; width: inherit;">
            Letzte Aktualisierung: <span id="datetime"></span>          
            <script>
              var dt = new Date();
              document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
            </script>     
          </div>       
        </div>
      </button>	
    </div>

	</div>	
  

  
<style>
  #searchField {
    background-image: url('/static/search.png'); /* Add a search icon to input */
    background-position: 5px center; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    }
  
    </style>
    <div class="row">
      <div class="column column-30">
        <input type="text" id="searchField" onkeyup="search()" placeholder="Suche...">  
      </div>
      <div class="column column-70">
      </div>
      
    </div>
    

 <table class="pure-table" id="allPersons">
    <thead>
      <tr>
        <td>ID</td>
        <td>Erhalten um</td>
        <td>Rufnummer</td>
        <td>Gruppe</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {{if .CallStatus.Persons}}

      
        {{range .CallStatus.Persons}}	  
          <tr>
		          <td>OTP</td>   <!-- TODO Generate-->
		          <td>10:00<!--.AnswerReceivedTime TODO--></td>        
		          <td>{{.Phone}}</td>      
              <td>{{.Group}}</td>
		        <td>			
		        	<select style="margin-bottom: unset;">
		        		{{if .Status }}  <!-- TODO ID Feld fehlt hier-->
		        			<option selected="selected" value="/auth/persons/toggle/ID">geimpft</option>
		        			<option  value="/auth/persons/toggle/ID">ungeimpft</option>
		        		{{else}}  
		        			<option  value="/auth/persons/toggle/ID">geimpft</option>
		        			<option selected="selected" value="/auth/persons/toggle/ID">ungeimpft</option>
		        		 <!-- TODO ID Feld fehlt hier-->
		        		{{end}}
		        	</select>
		        </td>
          </tr>
        {{end}}
      {{else}}
      <tr>
        <td>  Noch keine Zusagen</td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
        <td>  </td>
      
      </tr>
      {{end}}
    </tbody>
  </table>
  <script>

    function search() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchField");
      filter = input.value.toUpperCase();
      table = document.getElementById("allPersons");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 1; i < tr.length; i++) {
      row = tr[i];
      columns = tr[i].getElementsByTagName("td");
      row.style.display = "none";
      for(j = 0; j<columns.length;j++){			
        singleColumn = columns[j];
  
        if (singleColumn) {				
          txtValue = singleColumn.textContent || singleColumn.innerText;				
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              row.style.display = "";
          } 
        }
      }
      
      }
    }
    </script>
 <div class="row" >
  <blockquote>
    Wird ein Ruf abgeschlossen, werden keine Neuen Personen mehr informiert. Ein Ruf wird automatisch nach Ablauf der Endzeit geschlossen.  </blockquote>
</div>
  <button style="position: absolute; bottom: 0;">Ruf Abschließen</button> <!-- TODO fill with life-->
 {{else}}
 <h2>Kein Ruf ausgewählt</h2>  
 {{end}}
</div>
