<style>
  

  .allCalls {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .click-row {
    margin-left: 0em;
    font-family: inherit;
    color:white;
    background-color: rgba(0, 0, 0, 0.198);
    background-blend-mode: darken;
   
  }

  .click-row:hover {
    background-color: #606c76;
    margin-left: 0em;
  }
  .selectedRow {
    background-color: #9b4dca;    
  }
  .inactiveRow {
    background-color: #3e4449;    
  }


</style>


{{ if .Calls}}
  <div class="row" style="margin-left: 0em;">
    <div class="column column-20">
      ID
    </div>
    <div class="column column-80" style="margin-left: 0em;">
     Titel
    </div>
  </div>

	{{$MainCallID := .CallStatus.Call.ID}} 
	{{range .Calls}} 
		{{ if eq .ID $MainCallID }}
			<div class="click-row row selectedRow" onclick="location.href='/auth/active/{{.ID}}';"  style="cursor: pointer">
		  {{else}}
			<div class="click-row row"   onclick="location.href='/auth/active/{{.ID}}';"    style="cursor: pointer"  >
		{{end}}
  <div class="column column-20">
    {{.ID}}
  </div>
  <div class="column column-80">
    {{.Title}}
  </div>

 </div>
	{{end}} 
{{else}} 	
	<button onclick="location.href = '/auth/call'">Ruf Erstellen</button>
{{end}}

