{{ template "header.html" }}
<h1>Neuer Ruf</h1>

<form action="/call" method="post">

	<label for="title">Titel</label><br>
	<input type="text" id="titel" name="titel" value="z.b. Ruf IZ Duisburg"><br>

	<label for="capacity">Anzahl Impftermine</label><br>
	<input type="number" id="capacity" name="capacity" value="12"><br><br>


	<label for="start-hour">Begin Impfung</label><br>
	<input type="number" id="start-hour" name="start-hour" value="12">
	<input type="number" id="start-min" name="start-min" value="15"><br><br>


	<label for="end-hour">Ende Impfung</label><br>
	<input type="number" id="end-hour" name="end-hour" value="16">
	<input type="number" id="end-min" name="end-min" value="54"><br><br>



	<label for="location">Standort</label><br>
	<input type="text" id="location" name="location" value="irgendwo im nirgendwo"><br>

	<input type="submit" value="Ruf Starten">
</form>

{{ template "footer.html" }}
