<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="style.css">
		<title>Aktive Rufe</title>
	</head>
	<body>


		<!-- navbar -->
		<p class="navbar"> <a href="/call" >Neue Ruf</a> | <a href="/calls" >Alle Rufe</a> | <a href="/import" >Rufnummern importieren</a> </p>


		<h1>Aktive Rufe</h1>
		<table>
			<tr>
				<th>Titel</th>
				<th>Gesendet um</th>
				<th>Zusagen</th>
			</tr>

			<tr>
				<td>Ruf 1 - IZ Duisburg</td>
				<td>12:45</td>
				<td>315</td>
			</tr>
		</table>


		<button class="favorite styled" type="button"> Ruf Abschließen </button>
	</body>
</html>
