{{ template "header.html" . }}

<style>
	.click-row {
		margin-left: 0em
	}

	.click-row:hover {
		background-color: #cccccc;
		margin-left: 0em
	}

	.allCalls {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.selected {
		background-color: #7f1dc0;
	}
</style>

<div class="card">
	<h2>Ihre Rufe</h2>

	<div class="row">
		<!--LEFT-->

		<div class="allCalls col-3">			
			{{template "callsTable.html" . }}			
		</div>					
			<!--RIGHT-->
		<div class="col-9">
			{{template "callDetail.html" . }}
			</div>
		</div>
	</div>

	{{ template "footer.html" . }}