<style>
  .click-row {
    margin-left: 0em;
  }

  .click-row:hover {
    background-color: #cccccc;
    margin-left: 0em;
  }

  .allCalls {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .selected {
    background-color: #7f1dc0;
  }
</style>

{{ if .Calls}}
	{{$MainCallID := .CallStatus.Call.ID}} 
	{{range .Calls}} 
		{{ if eq .ID $MainCallID }}
			<div  class="click-row row selected" onclick="location.href='/auth/active/{{.ID}}';"  style="cursor: pointer">
		  {{else}}
			  <div class="click-row row"   onclick="location.href='/auth/active/{{.ID}}';"    style="cursor: pointer"  >
		{{end}}
			{{.Title}}
			  </div>
	{{end}} 
{{else}} 	
	<button onclick="location.href = '/auth/call'">Ruf Erstellen</button>
{{end}}

