{{ template "header.html" }}



<div class="card">
	<h1>Import Datei</h1>
	<form method="post" enctype="multipart/form-data">
		<label for="datei">Datei auswählen</label></br>
		<input id="datei" name="datei" type="file" size="50" accept="text/*">
		<input type="submit" class="pure-button dark" value="Hochladen">
	</form>
</div>


<div class="card">
	<h1>Import einzele Person</h1>
	<form action="/action_page.php">
		<label for="number">Rufnummer</label>
		<input type="text" id="number" name="number">

		<label for="group">Gruppe</label>
		<input type="number" id="group" name="group" min="1" max="10">
		<input type="submit" class="pure-button dark" value="Hinzufügen">
	</form>
</div>

{{ template "footer.html" }}
