{{ template "header.html" . }}

<div class="card">
	<h2>Import Datei</h2>
	<form action="/auth/upload" method="post" enctype="multipart/form-data">
		<label for="datei">Datei auswählen</label></br>
		<input id="datei" name="datei" type="file" size="50" accept="text/*">
		<input type="submit" class="pure-button dark" value="Hochladen">
	</form>
</div>

<div class="card">
	<h2>Import einzele Person</h2>
	<form action="/auth/add" method="post" >

		<div class="row">
			<div class="column">
				<label for="phone">Rufnummer</label>
				<input type="text" id="phone" name="phone">
			</div>
			<div class="column">
				<label for="group">Imfgruppe</label>
				<input type="number" id="group" name="group" min="1" max="10">
			</div>
		</div>
				<input type="submit" class="pure-button dark" value="Hinzufügen">
	</form>
</div>

<div class="card">
	<h2>Aktive Rufnummern</h2>
	<style>
#searchField {
	background-image: url('/static/search.png'); /* Add a search icon to input */
	background-position: 5px center; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 100%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
  }

	</style>
	<input type="text" id="searchField" onkeyup="search()" placeholder="Suche...">

	<table class="pure-table" id="allPersons">
		<thead>
			<tr>
				<th>Rufnummer</th>
				<th>Gruppe</th>
				<th>Center ID</th>
			</tr>
		</thead>
		<tbody>
			{{range .Persons}}
			<tr>
				<td> {{.Phone}}</td>
				<td> {{.Group}}</td>
				<td> {{.CenterID}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
<script>
	function search() {
	  // Declare variables
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("searchField");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("allPersons");
	  tr = table.getElementsByTagName("tr");
	
	  // Loop through all table rows, and hide those who don't match the search query
	  for (i = 1; i < tr.length; i++) {
		row = tr[i];
		columns = tr[i].getElementsByTagName("td");
		row.style.display = "none";
		for(j = 0; j<columns.length;j++){			
			singleColumn = columns[j];

			if (singleColumn) {				
				txtValue = singleColumn.textContent || singleColumn.innerText;				
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
  					row.style.display = "";
				} 
			}
		}
		
	  }
	}
	</script>
{{ template "footer.html" .}}
