{{ template "header.html" . }}

<div class="card">
  <h1>Neuer Ruf</h1>

  <form action="/auth/call" class="pure-form" method="post">
    <div class="row">

      <div class="column column-100">
        <label class="label-below" for="title">Titel</label>
        <input type="text" id="title" name="title" value="{{.DefaultTitle}}" />
      </div>
    </div>

    <div class="row">
      <div class="column column-30">
        <div class="dropdown">
          <label class="label-below" for="capacity">Impfstoff</label>         
          <select>
            <!--- TODO FILL WITH LIFE-->
            <!--
            selected := CallStatus.Call.SelectedVaccine}}             
            {range Vaccines}}
             {if eq .Name selected }}
                <option selected="selected" value="setVaccine">Name</option>
              {else}}
                <option value="setVaccine">Name</option>
              {end}} 
            {end}}
        -->
          <!--- TODO START PLACEHOLDER-->
          <option selected="selected" value="setVaccine">Biontech</option>
          <option  value="setVaccine">Moderna</option>
          <option  value="setVaccine">Astra Zeneca</option>
          <!--- TODO END PLACEHOLDER-->
        </select>
        </div>
      </div>
      <div class="column column-10">
        <label class="label-below" for="capacity">Anzahl</label>
        <input
          type="number"
          id="capacity"
          name="capacity"
          value="{{.DefaultCapacity}}"
        />
      </div>      
      <div class="column column-10 column-offset-50">
        <label for="start-time">Anfang</label>
        <input
          id="start-time"
          name="start-time"
          type="text"
          class="timepicker-start"
          value="0"
        />
      </div>

      <div class="column column-10">
        <label for="end-time">Ende</label>
        <input
          id="end-time"
          name="end-time"
          type="text"
          class="timepicker-end"
        />
      </div>
    </div>

    <div class="row">
      <div class="column column-100">
        <label for="location">Name</label>
        <input
          type="text"
          id="location"
          name="location"
          value="{{.DefaultLocationName}}"
        />
      </div>
    </div>

    <div class="row">
      <div class="column column-80">
        <label for="location">Straße</label>
        <input
          type="text"
          id="location"
          name="location"
          value="{{.DefaultLocationStreet}}"
        />
      </div>

      <div class="column column-20">
        <label for="location">Hausnummer</label>
        <input
          type="text"
          id="location"
          name="location"
          value="{{.DefaultHouseNumber}}"
        />
      </div>
    </div>

    <div class="row">
      <div class="column column-20">
        <label for="location">Postleitzahl</label>
        <input
          type="text"
          id="location"
          name="location"
          value="{{.DefaultPostCode}}"
        />
      </div>
      <div class="column column-80">
        <label for="location">Stadt</label>
        <input
          type="text"
          id="location"
          name="location"
          value="{{.DefaultCity}}"
        />
      </div>
    </div>

    <div class="row">
      <div class="column column-100">
        <label for="location">Optional</label>
        <input type="text" id="location" name="location" value="" />
      </div>
    </div>
    <div class="row">
      <div class="column column-100">
    <input type="submit" value="Ruf Starten" style="width: inherit;"/>

  </div>
</div>
  </form>
</div>

{{ template "footer.html" . }}

<script charset="utf-8">
  function timeInFuture(hours) {
    var now = Date.now();
    return new Date(now + hours * 60 * 60000);
  }
  $(document).ready(function () {
    $("input.timepicker-start").timepicker({
      timeFormat: "HH:mm",
      interval: 30,
      minTime: "00:00",
      maxTime: "23:59",
      defaultTime: "now",
      startTime: "10:00",
      dynamic: false,
      dropdown: true,
      scrollbar: false,
    });

    $("input.timepicker-end").timepicker({
      timeFormat: "HH:mm",
      interval: 30,
      minTime: "00:00",
      maxTime: "23:59",
      defaultTime: timeInFuture(4),
      startTime: "10:00",
      dynamic: false,
      dropdown: true,
      scrollbar: false,
    });
  });
</script>
