{{ template "header.html" .CurrentUser }}

<div class="card">

	<h1>{{.Data.Call.Title}}</h1>
	<ul>
		<li>Beginn: {{.Data.Call.TimeStart}}</li>
		<li>Ende: {{.Data.Call.TimeEnd}}</li>
		<li>Ort: {{.Data.Call.Location}}</li>
	</ul>
	<h3>Ungeimpfte Zusagen</h3>
	{{ if .Data.Persons }}
	<table class="pure-table">
		<thead>
			<tr>
				<td>ID</td>
				<td>Bestätigter Ruf</td>
				<td>Rufnummer</td>
				<td>Gruppe</td>
				<td>Status</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{{range .Data.Persons}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.LastCall.Value}}</td>
				<td>{{.Phone}}</td>
				<td>{{.Group}}</td>
				{{if .Status }}
				<td>geimpft</td>
				<td> <form action="/auth/persons/toggle/{{.ID}}"> <input class="" type="submit" value="Als nicht geimpft markieren" /> </form> </td>
				{{else}}
				<td>nicht geimpft</td>
				<td> <form action="/auth/persons/toggle/{{.ID}}"> <input class="" type="submit" value="Als geimpft markieren" /> </form> </td>
				{{end}}
			</tr>
			{{end}}
		</tbody>
	</table>
	{{else}}
	<p>Noch keine Zusagen</p>
	{{end}}

</div>

{{ template "footer.html" }}
