
<div class="callStatus">

	<h2>Ruf {{.CallStatus.Call.ID}} - {{.CallStatus.Call.Title}}</h2>	
		{{len .CallStatus.Persons}} Zusagen
		Begin: {{.CallStatus.Call.TimeStart}}
		Ende: {{.CallStatus.Call.TimeEnd}}
		
	
	
	<h3>Zusagen</h3>
	
	<button>
		Aktualisieren
	</button>
	
	<script>console.log(JSON.stringify("{{.CallStatus.Persons}}"))</script>
	
	<table class="pure-table">
		<thead>
			<tr>
				<td>ID</td>
				<td>Erhalten um</td>
				<td>Rufnummer</td>
				<td>Gruppe</td>
				<td>Status</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{{range .CallStatus.Persons}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.AnswerReceived}}</td>
				<td>{{.Phone}}</td>
				<td>{{.Group}}</td>
				
				{{if .Status }}
				<td>geimpft</td>
				<td> <form action="/auth/persons/toggle/{{.ID}}"> <input class="" type="submit" value="Als nicht geimpft markieren" /> </form> </td>
				{{else}}
				<td>nicht geimpft</td>
				<td> <form action="/auth/persons/toggle/{{.ID}}"> <input class="" type="submit" value="Als geimpft markieren" /> </form> </td>
				{{end}}
			</tr>
			{{end}}
		</tbody>
	

	</table>

	<button>
		Ruf Abschließen
	</button>
	

</div>
